* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 2rem;
}

.question {
  font-size: 1.5rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.quote {
  font-size: 1.5rem;
  color: white;
  width: 70%;
}

body {
  margin: 0;
  font-family: sans-serif;
}
