.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  background: #fff;
  justify-content: center;
}

.navbar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px;
}

.brand h1 a {
  font-size: 2rem;
  text-decoration: none;
  color: #3a42d2;
}

.nav_items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.nav_link {
  text-decoration: none;
  color: #3a42d2;
  display: block;
  margin: 5px;
  font-size: 1.3rem;
  padding: 10px;
}

.nav_link:hover {
  background: #1b1a1a;
  color: #fff;
  border-radius: 5px;
}
